
body{
  background-color: #f2f2f2;
}
nav{
  background-color:#222222;
}
.brand-logo{
  margin-left:10px;
  margin-right:10px;
  font-family:;
}
.custom-dark-search{
  color:#f2f2f2;
}
.custom-dark-search:focus{
  background-color:#e6e6e6;
  color:#222222;
}
.custom-dark-search:focus::-webkit-input-placeholder { color:#222222; }
.custom-dark-search:focus:-moz-placeholder { color:#222222; } /* FF 4-18 */
.custom-dark-search:focus::-moz-placeholder { color:#222222; } /* FF 19+ */
.custom-dark-search:focus:-ms-input-placeholder { color:#222222; } /* IE 10+ */

.icon-32{
  vertical-align:middle
}



#search-nav-mobile{
border: none;

}
.custom-sidenav-search{
  padding-left: 50px!important;
}
.custom-sidenav-search::-webkit-input-placeholder { color:#999999; }
.custom-sidenav-search:-moz-placeholder { color:#999999; } /* FF 4-18 */
.custom-sidenav-search::-moz-placeholder { color:#999999; } /* FF 19+ */
.custom-sidenav-search:-ms-input-placeholder { color:#999999; } /* IE 10+ */



.container {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 100% !important;
    width: 98%;
}
.table-wrap{
  
}
.homepage-card{
  border: 1px solid black;
}
/* debugging
.chart-wrap{
 border: 1px solid red;
}*/

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: red;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #f05b4f;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}