{$CADDY_WEB_ADDRESS} {
        cors
	root /srv
	proxy /api/ api:5000 {
		without /api/
		transparent
	}

	log / /var/log/caddy.log "{combined}"
	errors stdout
}

goaccess.{$CADDY_WEB_ADDRESS} {
        basicauth / admin password
        root /site/goaccess
        gzip
}