{$CADDY_WEB_ADDRESS} {
        cors
	root /srv
	gzip
	proxy /api/ api:5000 {
		without /api/
		transparent
	}

	log / /var/log/access.log "{combined}"
	errors stdout
}

{$CADDY_WEB_ADDRESS}/go {
        basicauth / admin password
        root /site/goaccess
        gzip
}