

@import 'dark-base.css';

/* --[general]-- */
body{
  overflow-x: hidden;
}

/* --[overlay]-- */
.overlay{
  display: none;
  position: absolute;
  top: 65px;
  left: 0px;
  height: 110%;
  width: 100%;
  background-color: #333;
  z-index:4;
}
.fade-out{
  animation: fadeout 1s;
}
.fade-out > div{
  animation: pulseOut 1s;
}
@keyframes fadeout {
  0%{
    opacity: 1;
  }
  100%{
    opacity:0;
  }
}
@keyframes pulseOut {
  0% {
    transform: scale(1, 1);  
    opacity: 1;
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
}
.overlay .oriz-center{
  text-align:center;
  margin: 0 auto;
  max-width: 600px; 
}
/* --[overview row]-- */
.page-nav i.material-icons.left{
  margin-right: 0;
}
.page-indicator{
  font-size: 14px;
}
.overview-text span {
  color: #9e9e9e;
}

.firm-image {
  margin-top: 10px;
  max-height: 200px;
  max-width: 200px;
}

.firm-name {
  margin-bottom: -15px;
}

.firm-description {
  font-style: italic;
  font-size: 19px
}

.firm-item-edit {
  margin-top: 20px;
  margin-right: 15px;
  float: right;
}

.firm-upgrades {
  margin-top: 40px
}

.badge{
  width: 100px;
  height: auto;
  padding: 5px;
}
.badges-container{
  background-color: rgba(0,0,0,0.0);
}

/* --[table row]-- */

.table-controls{
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  overflow: hidden;
  padding-bottom: 10px;
  max-height: 0;
}
.f-scale{
  max-height: 400px;
}
.table-controls .datepicker{
  color: white;
}
.table-controls .datepicker-date-display {
  background-color: #f9a825;
}
.table-controls .datepicker-controls button svg{
  fill: white !important;
}
.table-controls .datepicker-controls button:focus{
  background-color: #f9a825;
}
.table-controls .datepicker-controls input{
  color: white;
}
.table-controls .datepicker-footer button{
  color: #f9a825;
}


.table-wrap{

}
.investments-table-overlay{
  text-align:center;
  overflow:hidden;
  width: 100%;
  height:120px;
  z-index: 3;
}
.pulse-out{
  animation: pulseOut 0.6s;
}
.table-wrap table{
  position:relative;
  top: -120px;
  z-index: 2;
}

.table-wrap th{
  color: rgba(100, 100, 100, 1);
}
.table-wrap table tr{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
@media only screen and (max-width: 600px) {
.table-wrap table tr > td:first-child{
  width:20px;
}
}

.table-wrap table > tbody > tr:nth-child(2n+1) {
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
td span .material-icons{
    display: inline-flex;
    vertical-align: top;
}

/* --[graph row]-- */
.custom-select{
  width:200px;
  color: white !important;
}
.custom-select select {
  padding-left: 50px;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0px;
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: left 20px center;
  background-image: url(../resources/baseline-expand_more-24px.svg);
}
.custom-select select:active{
  outline: 0;
  border: 0px;
}
.chart-wrap{
  margin-top: 40px;
  height:400px;
}