
@import 'dark-base.css?c=1';

/* --[last 24 ticker]-- */
.ticker-wrap{
  width: 100%;
  overflow: hidden;
  height: 4rem;
}

.ticker{
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
  
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;

  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;

}

.ticker-item{
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.5rem;
  color: white;
}

.last24-header{
  font-weight: bold;
}

.last24-position-1{
  color: #FFD700;
}
.last24-profit{
  font-style: italic;
}

@-webkit-keyframes ticker{
  0%{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100%{
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker{
  0%{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100%{
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

/* --[graph row]-- */
.chart-wrap{
  height:300px;
}
.legenda-a{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: #cccccc;
  border-bottom:3px solid #ffa726;
}
 .legenda-b{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: #cccccc;
  border-bottom:3px solid #f06156;
}


/* --[table row]-- */
.table-wrap table td span{
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: relative;
  right: auto;
  margin-left: 10px;
  float:none;
}
.table-wrap table tr{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.table-wrap table > tbody > tr:nth-child(2n+1) {
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.bankrupt-badge{
  padding: 2px 4px;
  border-radius: 2px;
}


/* --[description row]-- */
.dark-collapsible .collapsible-header{
  background-color: #262626 !important;
  border-bottom: 2px solid rgba(255,255,255, 0.1) !important;
}
.dark-collapsible .collapsible-body{
  border-bottom: 0px solid rgba(0,0,0, 0.1) !important;
}

.investment-result{
  height:36px;
  border-top: 2px solid rgba(0,0,0,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.2);
  text-align:center;
}
.custom-preloader-wrapper{
  position: relative;
  top: 2px;
  width:32px !important;
  height:32px !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #f9a825 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f9a825!important;
  box-shadow: 0 1px 0 0 #f9a825!important;
}
.input-field input[type=text]{
  color: #f2f2f2;
}

