/* custom page styles */

body{
  background-color: #333333;
  color: #f2f2f2;
  color: #e6e6e6;
  width:100%;
}
*{
  outline: none;
  /* No background, just iOS:*/
  -webkit-tap-highlight-color: transparent;
  /* No background iOS + Android:  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* --[nav bar]-- */
nav{
  background-color:#222222;
}
.logo-img{
  height:50px;
  width:auto;
  vertical-align:middle;
  margin-right:5px;
  padding-top: 0;
  position: relative;
  top: -5px;
}
.brand-logo{
  margin-left:10px;
  margin-right:10px;
  text-decoration: none;
}
.custom-dark-search{
  color:#f2f2f2;
  height:100% !important;
}
.custom-dark-search:focus{
  background-color:#e6e6e6;
  color:#222222;
}
.custom-dark-search:focus::-webkit-input-placeholder { color:#222222; }
.custom-dark-search:focus:-moz-placeholder { color:#222222; } /* FF 4-18 */
.custom-dark-search:focus::-moz-placeholder { color:#222222; } /* FF 19+ */
.custom-dark-search:focus:-ms-input-placeholder { color:#222222; } /* IE 10+ */

.icon-32{
  vertical-align:middle
}

/* --[sidebar]-- */
#mobile-sidebar{
  background-color:#333333;
  overflow-x: hidden;
}
/* this is the dirtiest css i've ever written lol */
.sidenav li:first-child{
  height: 64px;
  line-height: 64px;
}
.sidenav li:first-child h5{
  background-color:#222222;
  height: 100%;
  line-height: 64px;
  margin:0;
  text-align:center;
}
.sidenav li:first-child a {
  height: 64px;
  position:relative;
  top:-64px;
  
}
.sidenav li:first-child a i{
  height: 64px;
  line-height: 64px;
  color: white;
}
.sidenav li a{
  color: white;
  padding-left: 18px;
}
#without-this-everything-brokes{
  opacity: .0;
}
.sidebar-search{
  height:48px;
  line-height:48px;
}
#investor-username-mobile {
  padding:0;
  padding-left: 18px;
  margin:0;
  border-top:1px solid rgba(0,0,0,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
  background-color:rgba(0,0,0,0.1);
  color:white;
  height:100%;
  width:100%;
  
  line-height: 48px;
  box-sizing: border-box;
  position: relative;
  top: -40px;
}
#investor-username-mobile:focus{
  border-bottom: 1px solid rgba(255, 167, 38, 0.5);
  box-shadow: 0 1px 0 0 rgba(255, 167, 38, 0.5);  
}


/* --[main page]-- */
.container {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 100% !important;
  width: 98%;
}

.row-title{
  margin-top:0px;
}
/* --[table row]-- */
.table-wrap table td span{
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: relative;
  right: auto;
  margin-left: 10px;
  float:none;
}
.table-wrap table tr{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.table-wrap table > tbody > tr:nth-child(2n+1) {
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.bankrupt-badge{
  padding: 2px 4px;
  border-radius: 2px;
}

/* --[graph row]-- */
.chart-wrap{
  height:300px;
}


 .legenda-a{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: #cccccc;
  border-bottom:3px solid #ffa726;
}
 .legenda-b{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: #cccccc;
  border-bottom:3px solid #f06156;
}


/* --[description row]-- */

.dark-collapsible .collapsible-header{
  background-color: #262626 !important;
  border-bottom: 2px solid rgba(255,255,255, 0.1) !important;
}
.dark-collapsible .collapsible-body{
  border-bottom: 0px solid rgba(0,0,0, 0.1) !important;
}

.investment-result{
  height:36px;
  border-top: 2px solid rgba(0,0,0,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.2);
  text-align:center;
}
.custom-preloader-wrapper{
  position: relative;
  top: 2px;
  width:32px !important;
  height:32px !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #f9a825 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #f9a825!important;
  box-shadow: 0 1px 0 0 #f9a825!important;
}
.input-field input[type=text]{
  color: #f2f2f2;
}

/* --[misc]-- */
h4{
  color: white;
}
a{
  text-decoration: underline;
  color: #f9a825;
}
.dark-toast{
  background-color: #e9a435;
  border-bottom: 4px solid rgba(0,0,0,0.3);
}
.divider{
  height: 4px !important;
  background-color: rgba(255,255,255,0.1);
  border-top:2px solid rgba(0,0,0,0.4 );
}

