/* custom page styles */

body{
  background-color: #f2f2f2;
}
/* --[nav bar]-- */
nav{
  background-color:#222222;
}
.logo-img{
  height:50px;
  width:auto;
  vertical-align:middle;
  margin-right:5px;
  padding-top: 0;
  position: relative;
  top: -5px;
}
.brand-logo{
  margin-left:10px;
  margin-right:10px;
}
.custom-dark-search{
  color:#f2f2f2;
  height:100% !important;
}
.custom-dark-search:focus{
  background-color:#e6e6e6;
  color:#222222;
}
.custom-dark-search:focus::-webkit-input-placeholder { color:#222222; }
.custom-dark-search:focus:-moz-placeholder { color:#222222; } /* FF 4-18 */
.custom-dark-search:focus::-moz-placeholder { color:#222222; } /* FF 19+ */
.custom-dark-search:focus:-ms-input-placeholder { color:#222222; } /* IE 10+ */

.icon-32{
  vertical-align:middle
}

#mobile-sidebar li > span, #nav-mobile li > span {
    cursor: pointer;
}

/* --[sidebar]-- */
#search-nav-mobile{
border: none;

}
.custom-sidenav-search{
  padding-left: 50px!important;
}
.custom-sidenav-search::-webkit-input-placeholder { color:#999999; }
.custom-sidenav-search:-moz-placeholder { color:#999999; } /* FF 4-18 */
.custom-sidenav-search::-moz-placeholder { color:#999999; } /* FF 19+ */
.custom-sidenav-search:-ms-input-placeholder { color:#999999; } /* IE 10+ */


/* --[main page]-- */
.container {
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 100% !important;
  width: 98%;
}

.row-title{
  margin-top:0px;
}
/* --[table row]-- */
.table-wrap table td span{
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: relative;
  right: auto;
  margin-left: 10px;
  float:none;
}
.bankrupt-badge{
  padding: 2px 4px;
  border-radius: 2px;
}

/* --[graph row]-- */
.chart-wrap{
  height:300px;
}


 .legenda-a{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: black;
  border-bottom:3px solid #ffa726;
}
 .legenda-b{
  margin-left: 0px;
  padding: 2px 4px;
  border-radius: 2px;
  opacity: .8;
  color: black;
  border-bottom:3px solid #f06156;
}
/* Use this selector to override the line style on a chart given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #ffa726  ;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}
.ct-series-b .ct-line {
  /* Set the colour of this series line */
  stroke: #f05b4f;
  /* Control the thikness of your lines */
  stroke-width: 3px;
}

/* --[description row]-- */

.code-block{
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 2px;
}

.investment-result{
  height:36px;
  border-top: 2px solid rgba(0,0,0,0.2);
  border-bottom: 2px solid white;
  text-align:center;
}
.custom-preloader-wrapper{
  position: relative;
  top: 2px;
  width:32px !important;
  height:32px !important;
}


