

@import 'dark-base.css';

/* --[generic]-- */
body{
  overflow: hidden;
}

/* --[overlay]-- */
.overlay{
  display: block;
  position: absolute;
  top: 65px;
  left: 0px;
  height: 110%;
  width: 100%;
  background-color: #333;
}
.fade-out{
  animation: fadeout 1s;
}
.fade-out > div{
  animation: roll 1s;
}
@keyframes fadeout {
  0%{
    opacity: 1;
  }
  100%{
    opacity:0;
  }
}
@keyframes roll {
  0% {
    transform: scale(1, 1);  
    opacity: 1;
  }
  30% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
}
.overlay .oriz-center{
  text-align:center;
  margin: 0 auto;
  max-width: 600px; 
}
/* --[overview row]-- */
.overview-text span {
  color: #9e9e9e;
}
.badge{
  width: 100px;
  height: auto;
  padding: 5px;
}
.badges-container{
  background-color: rgba(0,0,0,0.0);
}

/* --[table row]-- */
.table-wrap table td span{
  border-radius: 2px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  position: relative;
  right: auto;
  margin-left: 10px;
  float:none;
}
.table-wrap{
max-width:800px;
margin: 0 auto;
}
.table-wrap th{
  color: rgba(100, 100, 100, 1);
}
.table-wrap table tr{
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.table-wrap table > tbody > tr:nth-child(2n+1) {
  background-color: rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.bankrupt-badge{
  padding: 2px 4px;
  border-radius: 2px;
}